.loader {
  border: 16px solid #0d6efd;
  border-radius: 50%;
  border-top: 16px solid #0d6efd;
  border-bottom: 16px solid #0d6efd;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
