{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="container">
    <br>
    <br>
    <div class="alert alert-success" role="alert"> Hello {{ session['NAME'] }} </div><br><br>
    
    <!-- Email success message-->
    
    {% if success %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{success}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br><br>
    {% endif %}
    
    <!-- Exception Handling -->
    
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" onload="loading('hidden', false)">
        <strong>{{error}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br><br>
    {% endif %}

    <form action="{{ url_for('home') }}" method="POST">

        <div class="mt-3">
            <label for="text" class="form-label">Enter the keyword : </label><br><br>
            <input type="text" class="form-control rounded-pill" id="text" name="text" placeholder="nigga"
                maxlength="30" required><br>
        </div>
        <button id='search' type="submit" class="mt-3 btn btn-primary rounded-pill"
            onclick="loading('visible', true)">Predict</button>

    </form>
    <br><br><br>

    <!-- Show the loading animation   -->

    <img id='loader' class="img-fluid" style="visibility:hidden" src="static/images/loading-load.gif" alt="loading gif">

    <br>

    <div id="result">
        <!-- Exception Handling -->
        <!-- <strong class="alert alert-success" onload="loading('hidden', false)">{{msg}}</strong> -->
        {% if request.method == "POST" and result %}
        <div class="images">
            <img src="static/graphs//{{search_query}}_.png" onload="loading('hidden', false)" class='img-fluid'
                alt="graph describing number of tweets vs category of tweets">

            <figure>
                <img src="static/wordclouds\\{{search_query}}_.png" class="img-fluid" id='wordcloud'
                    alt="image showing frequently used words in tweet" />
                <strong>
                    <figcaption style="text-align: center; margin-top:2rem">frequently used words in tweet</figcaption>
                </strong>
            </figure>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h3>Result:</h3>
        <br>
        <div class="table-responsive">
            <table class="table overflow-auto">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">SNo</th>
                        <th scope="col">Tweet</th>
                        <th scope="col">Prediction</th>
                        <th scope="col">Report</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(result|length) %}
                    <tr>
                        <td scope="row">{{i + 1}}</td>
                        <td>{{Tweets[i]}}</td>
                        <td>
                            {% if result[i] == 'none' %}

                            Non Bullying Tweet

                            {% elif result[i] == 'racism' %}

                            Racism Tweet

                            {% elif result[i] == 'sexism' %}

                            Sexism Tweet

                            {% else %}

                            Other hate speech tweet

                            {% endif %}

                        </td>

                        <td>
                            {% if ( result[i] == 'racism'  or  result[i] == 'sexism'   or  result[i] == 'other' ) %}

                            <form action="{{ url_for('send_report') }}" method='POST'>
                                <input type="hidden" id="search_query" name="search_query" value="{{search_query}}">
                                <input type="hidden" id="i" name="i" value="{{i}}">
                                <input type="hidden" id="result[i]" name="result[i]" value="{{result[i]}}">
                                <input type="submit" class="btn btn-danger rounded-pill" value='Report'>

                            </form>

                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        {% endif %}
    </div>
    <br><br>



</div>

{% endblock %}