{% extends 'layout.html' %}

{% block title %}Image{% endblock %}

{% block content %}

<div class="container">
    <br>
    <br>

    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" onload="imgLoading('hidden')">
        <strong>{{error}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <br><br>
    

    <form action="{{ url_for('imageResult') }}" method="POST">
        <h3 class="mt-3 mb-3 text-justify">Detect bullying in text based images</h3>
        <br><br>
        <div class="mt-3">
            <label for="text" class="form-label">Enter the keyword : </label><br><br>
            <input type="text" class="form-control rounded-pill" id="text" name="text" placeholder="nigga"
                maxlength="30" required><br>
        </div>
        <button id='search' type="submit" class="mt-3 btn btn-primary rounded-pill"
            onclick="loading('visible', true)">Predict</button>
        <!-- Show the loading animation   -->

        <img id='loader' class="img-fluid" style="visibility:hidden" src="static/images/loading-load.gif"
            alt="loading gif">

        <br>
    </form>

    
    {% if request.method == "POST" and result %}   
       
            <div class="container">
                <div class="card-group text-center">
                    {% for i in range(result|length) %}
                    <div class="card">
                        <img src="{{imgLinks[i]}}" class="card-img-top" alt="tweet image">
                        
                        <div class="card-body">
                            <h5 class="card-title">{{ tweets['tweet'][index[i]]}}</h5>
                            <h5 class="card-title">{{ result[i]}}</h5>
                            <form action="{{ url_for('send_report') }}" method='POST'>
                                        <input type="hidden" id="search_query" name="search_query" value="{{search_query}}">
                                        <input type="hidden" id="i" name="i" value="{{index[i]}}">
                                        <input type="hidden" id="result[i]" name="result[i]" value="{{result[i]}}">
                                        <input type="submit" class="btn btn-danger rounded-pill" value='Report'>

                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        
    {% elif request.method == 'POST' %}
            <h5>Not found any offensive image!!</h5>
    {% endif %}


</div>
{% endblock %}