{% extends 'layout.html' %}

{% block title %}Upload Image{% endblock %}

{% block content %}

<div class="container">
    <h3 class="mt-3 mb-3 text-justify">Detect bullying in text based images</h3>
    <br>
    <br>

    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" onload="imgLoading('hidden')">
        <strong>{{error}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <br><br>
    <label class="mt-3">Upload a new image</label>

    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" class='mt-3 mb-3'>
        <input type="file" name="file" class="mt-3 form-control">
        <input type="submit" class="mt-3 btn btn-primary rounded-pill" value="upload" onclick="imgLoading('visible')">
    </form>


    <!-- Show the loading animation   -->

    <img id='img-loader' class="img-fluid" style="visibility:hidden" src="static/images/loading-load.gif" alt="loading gif">
    
    {% if request.method == "POST" %}   
  
    <h3 onload="imgLoading('hidden')">Result</h3>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Text in image</th>
                <th scope="col">Prediction</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">1</td>
                <td>{{Text}}</td>
                <td>
                    {% if result == 'none' %}

                    <p>Non Bullying Tweet</p>

                    {% elif result == 'racism' %}
                    <p style="color:red">Racism tweet</p>
                    
                    <!-- <button class='btn btn-danger' disabled> Racism tweet</button> -->



                    {% elif result == 'sexism' %}

                    <p style="color: red;">Sexism tweet</p>
                    
                    <!-- <button class='btn btn-danger' disabled> Sexism Tweet </button> -->


                    {% else %}

                    <p style="color: red;">Other hate speech tweet</p>
                    
                    <!-- <button class='btn btn-danger' disabled>Other hate speech tweet</button> -->

                    {% endif %}

                </td>

            </tr>

        </tbody>
    </table>




    {% endif %}


</div>


{% endblock %}