{% extends 'layout.html' %}

{% block title %}Upload Image{% endblock %}

{% block content %}

<div class="container">
    <h3 class="mt-3 mb-3 text-justify">Detect bullying in text based images</h3>
    <label class="mt-3">Upload a new File</label>

    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" class='mt-3 mb-3'>
        <input type="file" name="file" class="mt-3 form-control">
        <input type="submit" class="mt-3 btn btn-primary" value="upload">
    </form>

    

    {% if request.method == "POST" %}

    {{msg}}
    <br><br>
    <h3>Result</h3>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Text in image</th>
                <th scope="col">Prediction</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>{{Text}}</td>
                    <td>
                        {% if result == 'none' %}

                         Non Bullying Tweet 

                        {% elif result == 'racism' %}

                        <button class='btn btn-danger' disabled> Racism </button>
                        
                       

                        {% elif result == 'sexism' %}

                        <button class='btn btn-danger' disabled> Sexism Tweet </button>


                        {% else %}

                        <button class='btn btn-danger'>Other hate speech tweet</button>

                        {% endif %}

                    </td>

                    <!-- <td> -->
                        <!-- {% if ( result == 'racism'  or  result == 'sexism'   or  result == 'other' ) %} -->

                        <!-- <form action="{{ url_for('send_report') }}" method='POST'>
                            <input type="hidden" id="twitter_name" name="twitter_name" value="{{twitter_name}}">
                            <input type="hidden" id="i" name="i" value="{{i}}">
                            <input type="submit" class="btn btn-danger" value='Report'>

                        </form> -->

               

                        <!-- {% endif %} -->
                    <!-- </td> -->
                </tr>
               
        </tbody>
    </table>




    {% endif %}


</div>


{% endblock %}