{% extends 'layout.html' %}

{% block title %}Login{% endblock %}


{% block content %}



<div class="container">
    <div class='mt-3 mb-3'>

        <form action="{{ url_for('login') }}" method="post">
            {% if msg %}
            <div class="alert alert-primary" role="alert"> {{ msg }} </div><br><br>

            {% endif %}
            <label for="EMAIL" class="form-label">Email :</label>
            <input id="EMAIL" name="EMAIL" type="email" placeholder="stevejobs@gmail.com"
                class="form-control rounded-pill" required /><br>

            <label for="PASSWORD" class="form-label">Password :</label>
            <input id="PASSWORD" name="PASSWORD" type="password" placeholder="********"
                class="form-control rounded-pill" required /><br>
            <button type="submit" class="mt-2 btn btn-primary rounded-pill">Login</button><br><br>
            <h6>Dont't have an account? <a class="bottom" href="{{url_for('register')}}"> Sign Up here</a> </h6>
        </form>
    </div>

</div>

{% endblock %}